div{
    background-color: #4CAF50;
    text-align: center;
    height: 50px;
    // width: 500px;
    align-content: center;
    // top: 0px;
    // margin-left: 500px;
}

h1{
    color: white;
}

button {
    background-color: #4CAF50; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px;
    margin: 20px;
    font-weight: bold;
    cursor: pointer; 

    position: relative;
  }